#hed0{
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    padding-top: 8%;
}

#spn1{
    color: #721cf9;
}

.pep0{
    letter-spacing: 2px;
    text-align: center;
    padding-top: 2%;
    font-size: 20px;
}

.pep1{
    letter-spacing: 2px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.d1{
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lk{
    color: black;
    text-decoration: none;
}



.li1{
    font-size: 18px;
    line-height: 40px;
}