.z111{
    padding-top: 3%;
}

.a11{
    display: block;
    margin-top: 2%;
    text-decoration: none;
}

.z112{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
}